.home {
  position: relative;
  width: 100%;
  aspect-ratio: 393 / 852;
  background-image: url("../assets/images/background/home.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  container-type: inline-size;
}

.home-logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  max-width: 300px;
  height: auto;
}

.menu-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.cloud-btn {
  position: absolute;
  background-image: url("../assets/images/home/cloudBtn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.36px;
  padding-top: 2cqw;
  transition: transform 0.05s ease-in-out;
}

.cloud-btn:active {
  transform: translateY(3px);
  filter: brightness(0.92);
}

.booth-info-btn {
  width: 37cqw;
  height: 19.25cqw;
  top: 30%;
  left: 12%;
}

.booth-map-btn {
  width: 46.46cqw;
  height: 24.17cqw;
  top: 36%;
  left: 45%;
}

.timetable-btn {
  width: 36.64cqw;
  height: 20.14cqw;
  top: 47%;
  left: 9%;
}

.somnema-btn {
  width: 34.45cqw;
  height: 17.92cqw;
  top: 53.5%;
  left: 52%;
}

.som-talk-btn {
  width: 32.42cqw;
  height: 16.87cqw;
  top: 63%;
  left: 20%;
}

.credits-btn {
  width: 29.48cqw;
  height: 15.34cqw;
  font-size: 4cqw;
  top: 70%;
  left: 53%;
}
